@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  overflow-x: hidden;
}

/* SIDEBAR */

.sidebar {
  width: 450px;
  max-width: 450px;
  height: 100vh;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.bot-avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.bot-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons button {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  background: none;
  border: 2px solid #002626;
  border-radius: 10px;
  color: #002626;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #002626;
  color: white;
}

.copyright {
  font-size: 14px;
  text-align: center;
  margin-top: auto;
  color: #002626;
  justify-self: flex-end;
}
/* Mobile devices */
@media (max-width: 600px) {
  .sidebar {
    width: 70vw;
    height: 100vh;
    padding: 2rem ;
  }

  .wrapper{
    height: 100%;
  }

  .bot-avatar{
    width: 75px;
    height: 75px;
  }

  .wrapper {
    align-items: center;
  }


  .buttons {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }

  .buttons button {
    padding: 5px 10px;
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
    justify-self: flex-end;
  }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .sidebar {
    width: 200px;
    height: 100vh;
    padding: 15px;
  }

  .bot-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }

  .buttons button {
    padding: 8px 0;
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }
}

/* CONTAINER */
.container {
  display: flex;
  align-items: flex-start;
}

.chat-section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 30px 10px 0px 10px;
  overflow: hidden;
}

section {
  overflow-y: auto;
  height: 100%;
}

form {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 100%;
  bottom: 0;
  left: 2px;
  z-index: 50;
  padding: 10px;
  box-shadow: (0px -58px 5px rgba(0, 0, 0, 0.184));
}

.chat-input {
  width: 100%;
  display: inline-block;
  border: 1px solid rgba(128, 128, 128, 0.537);
  outline: none;
  padding: 5px;
  border-radius: 1px;
  height: 40px;
}

.chat-input:focus {
  border: 1px solid black;
}

.send-button {
  padding: 8px;
  cursor: pointer;
}

/* CHAT VIEWS */
.chat-block {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  width: 100%;
  position: relative;
  padding-bottom: 80px;
}

.chat {
  max-width: 80%;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}

.receive {
  align-self: flex-start;
  background-color: rgb(228, 228, 228);
}

.send {
  align-self: flex-end;
  background-color: #538c61;
  color: white;
}

.chat-content {
  font-size: 14px;
}
